.container {
  padding: 4rem 0;
}
.title {
  margin-top: 3.3rem;
  font-size: 2.7rem;
  line-height: 1.2;
}

.description {
  margin-top: 2.3rem;
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--c-gray);
  a {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: var(--c-border);
    transition: color 0.2s;
    &:hover {
      color: var(--c-base-text);
    }
  }
  svg {
    margin: 0 1px 0 5px;
  }
}
