.year {
  position: sticky;
  top: 6px;
  z-index: 1;
  margin-left: -10px;
  padding: 0.3rem 0;
  width: 78px;
  text-align: center;
  font-weight: 700;
  border-radius: 2.5em;
  background: var(--c-base-background-lighter);
}
.itemsContainer {
  margin: 1rem 0;
  margin-left: 2px;
  padding: 1rem 0;
  border-left: solid 2px var(--c-border);
}
.itemIcon {
  position: absolute;
  display: inline-flex;
  left: -6px;
  top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 2px var(--c-border);
  background: var(--c-base-background);
}

.itemLink {
  display: block;
  position: relative;
  padding-left: 20px;
  &:not(:first-child) {
    margin-top: 2.2rem;
  }
}

.itemTitle {
  margin-top: 0.5rem;
  font-size: 1.15rem;
  line-height: 1.6;
  letter-spacing: 0.01em;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: var(--c-border);
  }
}

.itemMeta {
  display: flex;
  align-items: center;
  color: var(--c-gray);
  font-size: 0.9rem;
  line-height: 1.2;
}
.itemFavicon {
  margin-right: 7px;
  border-radius: 4px;
}

.itemDate {
  &:before {
    content: '/';
    margin: 0 5px;
    color: var(--c-border);
  }
}
