.container {
  margin-bottom: 5rem;
}
.year {
  position: sticky;
  z-index: 1;
  top: 6px;
  display: inline-flex;
  font-weight: 700;
  padding: 0.3rem 1rem;
  border-radius: 2.5em;
  background: var(--c-base-background-lighter);
}
.itemsContainer {
  margin: 1rem 0;
  margin-left: 14px;
  padding: 1rem 0;
  border-left: solid 2px var(--c-border);
}
.itemLink {
  display: block;
  position: relative;
  padding-left: 20px;
  transition: color 0.2s ease;
  &:not(:first-child) {
    margin-top: 1.7rem;
  }
  &:hover {
    color: var(--c-primary);
  }
}

.itemTitle {
  margin-top: 0.3rem;
  font-size: 1.05rem;
  line-height: 1.4;
  flex: 1;
}

.itemDate {
  font-size: 14px;
  color: var(--c-gray);
}
.itemAction {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  color: var(--c-gray);
  font-size: 14px;
}
.itemFavicon {
  margin-right: 6px;
  border-radius: 4px;
}

.itemIcon {
  position: absolute;
  display: inline-flex;
  left: -6px;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 2px var(--c-border);
  background: var(--c-base-background);
}
