:root {
  --c-base-background: #111115;
  --c-base-background-lighter: #24272d;
  --c-base-text: #fff;
  --c-gray: rgba(214, 226, 243, 0.7);
  --c-border: rgba(115, 125, 130, 0.4);
  --c-primary: #50b3ff;
  --c-timeline-title: #ebf0f9;
}
