:root {
  --c-base-background: #111115;
  --c-base-background-lighter: #24242d;
  --c-base-text: #fff;
  --c-gray: rgba(214, 225, 243, 0.7);
  --c-border: rgba(115, 125, 130, 0.4);
  --c-primary-background: #ffbf60;
  --c-primary-text: #ffbf60;
  --c-timeline-title: #ebf0f9;
}
